---
import Logo from "../components/logo.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gemstone Builders | Quality Construction Services">
  <section>
    <div></div> <!-- Empty div to center -->
    <h2 class="text-xl p-4">V1</h2>
    <ul class="space-y-2 w-full list-disc">
      <li>Game playable offline</li>
      <li>Game playable offline</li>
    </ul>
  </section>
</BaseLayout>
