---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gemstone Builders | Quality Construction Services">
  <section class="grid md:grid-cols-3 gap-8">
    <div></div> <!-- Empty div to center -->
    <div class="bg-white p-6 rounded-lg shadow-md">
      <img src="maintenance.png" />
      <p class="text-gray-600">
        Website under construction.
        Please check back later.
      </p>
    </div>
  </section>
</BaseLayout>
