---
import MapIcon from "../icons/MapIcon.astro";
import AppIcon from "../icons/AppIcon.astro";
import Logo from "../components/logo.astro";
import "../styles/global.css";
import { getCollection } from "astro:content";

type Props = {
  title: string;
  subtitle?: string;
};

const { title, subtitle } = Astro.props;

const posts = await getCollection("blog");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
 <body class="flex flex-col min-h-screen bg-zinc-900 text-gray-100 font-press-start">
    <div class="flex flex-wrap w-full min-h-screen">
        <!-- Column 1 -->
        <div class="w-full md:w-1/4 p-6">
          <Logo/>
          <ul class="mt-6 space-y-4">
              <li><a href="/" class="block hover:text-zinc-600">Roadmap</a></li>
              <li><a href="/docs" class="block hover:text-zinc-600">Docs</a></li>
              <li>
                  <a
                      href="/map"
                      class="hover:text-zinc-600 flex items-center"
                  >
                      <MapIcon />
                      Map
                  </a>
              </li>
              <li>
                  <a
                      href="https://app.gemstone.builders"
                      class="hover:text-zinc-600 flex items-center"
                  >
                      <AppIcon />
                      App
                  </a>
              </li>
              <li>
                <a class="block mb-4">Blog</a>
                <ul class="space-y-4">
                  {
                    posts.map((post) => (
                      <li class="pl-4">
                        <a href={`/blog/${post.slug}`} class="hover:text-zinc-600">Noise experiments</a>
                        <p class="text-xs font-thin zinc-800">{new Date(post.data.pubDate).toLocaleDateString()}</p>
                      </li>
                    ))
                  }
                </ul>
                
              </li>
          </ul>
        </div>
        <!-- Column 2 -->
        <div class="w-full md:w-3/4 p-6">
            <main class="container mx-auto px-4 py-8 flex-grow">
                <slot />
            </main>
        </div>
    </div>
  </body>
</html>

