.App-logo {
  image-rendering: pixelated;
}

.zk {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.zk img {
  width: 50px;
  height: 45px;
}

.zk div {
  line-height: 3rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-header > div {
  margin: 1.5rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  margin: 0;
  font-family: 'Press Start 2P', cursive; /* This is a classic pixel art font */
  background-color: #000; /* Retro games often have a solid background */
  height: 100%;
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App.simulation {
  background-color: #1a1542;
}

.header, .footer {
  background-color: #333;
  padding: 10px;
}

.menu-button {
  background: #555;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  border: 2px solid #777;
}

.main-container {
  display: flex;
  height: 100vh;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.footer {
  background-color: #333;
  padding: 10px;
}

.title {
  font-size: 3rem;
  line-height: 5rem;
}

.subtitle {
  line-height: 3rem;
}

.white {
  color: white;
}

.no-decoration {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  z-index: 100;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #626161;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 92px;
  height: 92px;
}


.clickable {
  z-index: 1000;
}
.clickable > .grid-item:hover {
  background-color: #d1c43964;
}

.clickable > .grid-item.selected {
  background-color: #39d1433f;
}

.base-image {
  display: none;
}

.image-element {
  position: relative;
  overflow: hidden;
  border: 1px solid #383838;
  box-sizing: border-box;
}

.board {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 600px;
}

.element-container {
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.element-name {
  font-size: 0.6rem;
  padding: 10px;
}

.control-panel {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  gap: 10px;
}

.control-panel > .element-container.selected {
  border: 3px solid #ffe900c9;
}

.state-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.state-item {
  margin-bottom: 1rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.row-title {
  line-height: 1.4rem;
  width: 200px;
  padding: 30px 0;
}

.resources-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rotating-image-container {
  display: inline-block;
  overflow: hidden;
}

.rotating-image {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  animation: rotate360 2s linear infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resource-amount {
  color: #c500ba;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
