@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  margin: 0;
  font-family: 'Press Start 2P', cursive; /* This is a classic pixel art font */
  background-color: #000; /* Retro games often have a solid background */
  height: 100%;
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  background-color: #333;
  padding: 10px;
}

.menu-button {
  background: #555;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  border: 2px solid #777;
}



.main-grid {
  display: flex;
  height: 100vh;
}

.grid-item {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.control-panel {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.control-button {
  background: #555;
  border: none;
  color: white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  border: 2px solid #777;
}

.footer {
  background-color: #333;
  padding: 10px;
}

.subtitle {
  line-height: 4rem;
}

.column {
  display: flex;
  flex-direction: column;
}
