<div class="w-full p-6 flex flex-col items-center bg-zinc-800 rounded-lg">
    <img src="/logo64.png" alt="Gemstone Builders Logo" class="mb-2" />
    <h1 class="text-xl font-bold mb-2">Gemstone<br/>Builders</h1>
  </div>
